<IfModule mod_headers.c>
Header always set Access-Control-Allow-Origin "https://payments.digikuntz.com"
Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, PATCH, OPTIONS"
Header always set Access-Control-Allow-Headers "Authorization,Content-Type,Accept,Origin,X-Requested-With"
Header always set Access-Control-Allow-Credentials "true"
</IfModule>

# Gérer le prévol
RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=204,L]
